{ "parser": "babel-eslint",  
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:compat/recommended",
    "plugin:import/typescript",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "react-hooks", "prettier"],
  "rules": {
    // OFF RULES
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "no-unused-expressions": "off",
    "import/no-unresolved": "off",
    "array-callback-return":"off",
    // WARN
    "compat/compat": "warn",
    // ERROR RULES
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx", ".jsx"] }],
    "max-lines": ["error", { "max": 300, "skipBlankLines": true }],
    "import/extensions": [
      "off",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
        "mjs": "never"
      }
    ]
  },  
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {},
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["~src", "src"],
          ["~components", "src/components"],
          ["~context", "src/context"],
          ["~styles", "src/styles"]
        ],
        "extensions": [".js", ".jsx", ".json"]
      }, 
      "node": {
        "extensions": [".js", ".jsx", ".json"],
        "moduleDirectory": ["node_modules", "src"]
      }
    },
    "react": {
      "version": "detect"
    },
    "polyfills": ["Promise", "promises"]
  }
}
